*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.auto{
    margin: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*导航栏部分样式*/
#nav{
    height: 55px;
    background-color: #2D2D2D;
}
.xiaoyu{
    width: 290px;
    padding-left: 10px;
}
.xiaoyu a{
    color: white;
    font-size: 55px;
    font-family: 华文琥珀;
}
#nav .choose{
    height: 60px;
    width: 1000px;
}

#nav .choose ul li{
    float: left;
    margin:12px 10px;
}
#nav .choose ul li a{
    display: block;
    width: 100px;
    text-align: center;
    color: #cccccc;
    font-size: 25px;
    font-family: 幼圆;
    font-weight: bolder;
}
#nav .choose ul li a:hover{
    color: white;
}
#nav .choose .btn{
    height: 35px;
    width: 55px;
    background-color: #cccccc;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 20px;
    outline: 0;
    cursor: pointer;
    transition: 0.1s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
#nav .choose .btn:hover{
    background-color: white;
}
#nav .choose .found_right{
    width: 250px;
    height: 35px;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
    padding-left: 5px;
    background-color: #666666;
    font-size: 19px;
    border: none;
    outline: medium;
    font-family: "Helvetica Neue";
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#nav .person{
    height: 55px;
    width: 300px;
    margin-top: -60px;
}
#nav .person .liuyan{
    color: white;
    float: left;
    margin-top: 17px;
    margin-left: 30px;
    font-size: 14.5px;
}
#nav .person .like{
    width: 85px;
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: white;
    transition: 0.3s;
}
#nav .person .like:hover{
    background-color: #fff;
    color: black;
}
#nav .person ul{
    margin-right: 20px;
    margin-top: 15px;
}
#nav .person ul li{
    float: right;
    font-size: 16px;
    color: white;
    margin-right: 5px;
}
#nav .person ul li a{
    color: #aaa;
    font-size: 16px;
}
#nav .person ul li a:hover{
    color: white;
    text-decoration: none;
}
/*banner图部分*/
#banner{
    width: 1150px;
    height: 305px;
    margin: auto;
}
.swiper-container{
    width: 555px;
    height: 300px;
    float: left;
    cursor: auto;
}
.swiper-container img{
    width: 555px;
}
#banner .me{
    height: 300px;
    width: 565px;
    float: right;
    background-color: white;
    border: 1px solid blue;
}
#banner .me h1{
    padding-left: 10px;
    color: #333;
    background-color: #eee;
}
#banner .me p{
    margin: 5px 2px;
    font-size: 24px;
}
/*乐谱简介的样式*/
#pu{
    width: 1177px;
    height: 970px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
#pu .l_title{
    text-align: left;
    margin-left: 15px;
    font-size: 22px;
    color: #444;
    margin-bottom: 5px;
}
#pu .l_title span{
    float: right;
    margin-right: 15px;
}
#pu .little{
    width: 170px;
    height: 205px;
    float: left;
    margin: 7px 12px;
    background-color: #fff;
    transition: 0.2s linear all;
}
#pu .little:hover{
    -webkit-box-shadow:  0px 5px 30px #ccc;
    -moz-box-shadow:  0px 5px 30px #ccc;
    box-shadow:  0px 5px 30px #ccc;
    transform: translateY(-3px);
}
#pu .little img{
    width: 170px;
    margin-bottom: 5px;
}
#pu .little p{
    margin-left: 5px;
    width: 165px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#pu a{
    font-size: 15px;
    color: #555;
}
/*页脚部分样式*/
#footer{
    height: 150px;
    background-color: white;
}